snippet xmd1 "todo list"
	1. [ ] TODO: 
snippet xmd2 "todo list"
	2. [ ] TODO: 
snippet xmd3 "todo list"
	3. [ ] TODO: 
snippet xmd4 "todo list"
	4. [ ] TODO: 
snippet xmd5 "todo list"
	5. [ ] TODO: 
snippet xmd6 "todo list"
	6. [ ] TODO: 
snippet xmd7 "todo list"
	7. [ ] TODO: 
snippet xmd8 "todo list"
	8. [ ] TODO: 
snippet xmd9 "todo list"
	9. [ ] TODO: 
snippet xmd10 "todo list"
	10. [ ] TODO: 
snippet xmd11 "todo list"
	11. [ ] TODO: 
snippet xmd12 "todo list"
	12. [ ] TODO: 
snippet xmd13 "todo list"
	13. [ ] TODO: 
snippet xmd14 "todo list"
	14. [ ] TODO: 
snippet xmd15 "todo list"
	15. [ ] TODO: 
snippet xmd16 "todo list"
	16. [ ] TODO: 
snippet xmd17 "todo list"
	17. [ ] TODO: 
snippet xmd18 "todo list"
	18. [ ] TODO: 
snippet xmd19 "todo list"
	19. [ ] TODO: 
snippet xmd20 "todo list"
	20. [ ] TODO: 
snippet xmd21 "todo list"
	21. [ ] TODO: 
snippet xmd22 "todo list"
	22. [ ] TODO: 
snippet xmd23 "todo list"
	23. [ ] TODO: 
snippet xmd24 "todo list"
	24. [ ] TODO: 
snippet xmd25 "todo list"
	25. [ ] TODO: 
snippet xmd26 "todo list"
	26. [ ] TODO: 
snippet xmd27 "todo list"
	27. [ ] TODO: 
snippet xmd28 "todo list"
	28. [ ] TODO: 
snippet xmd29 "todo list"
	29. [ ] TODO: 
snippet xmd30 "todo list"
	30. [ ] TODO: 
snippet xmd31 "todo list"
	31. [ ] TODO: 
snippet xmd32 "todo list"
	32. [ ] TODO: 
snippet xmd33 "todo list"
	33. [ ] TODO: 
snippet xmd34 "todo list"
	34. [ ] TODO: 
snippet xmd35 "todo list"
	35. [ ] TODO: 
snippet xmd36 "todo list"
	36. [ ] TODO: 
snippet xmd37 "todo list"
	37. [ ] TODO: 
snippet xmd38 "todo list"
	38. [ ] TODO: 
snippet xmd39 "todo list"
	39. [ ] TODO: 
snippet xmd40 "todo list"
	40. [ ] TODO: 
snippet xmd41 "todo list"
	41. [ ] TODO: 
snippet xmd42 "todo list"
	42. [ ] TODO: 
snippet xmd43 "todo list"
	43. [ ] TODO: 
snippet xmd44 "todo list"
	44. [ ] TODO: 
snippet xmd45 "todo list"
	45. [ ] TODO: 
snippet xmd46 "todo list"
	46. [ ] TODO: 
snippet xmd47 "todo list"
	47. [ ] TODO: 
snippet xmd48 "todo list"
	48. [ ] TODO: 
snippet xmd49 "todo list"
	49. [ ] TODO: 
snippet xmd50 "todo list"
	50. [ ] TODO: 
snippet xmd51 "todo list"
	51. [ ] TODO: 
snippet xmd52 "todo list"
	52. [ ] TODO: 
snippet xmd53 "todo list"
	53. [ ] TODO: 
snippet xmd54 "todo list"
	54. [ ] TODO: 
snippet xmd55 "todo list"
	55. [ ] TODO: 
snippet xmd56 "todo list"
	56. [ ] TODO: 
snippet xmd57 "todo list"
	57. [ ] TODO: 
snippet xmd58 "todo list"
	58. [ ] TODO: 
snippet xmd59 "todo list"
	59. [ ] TODO: 
snippet xmd60 "todo list"
	60. [ ] TODO: 
snippet xmd61 "todo list"
	61. [ ] TODO: 
snippet xmd62 "todo list"
	62. [ ] TODO: 
snippet xmd63 "todo list"
	63. [ ] TODO: 
snippet xmd64 "todo list"
	64. [ ] TODO: 
snippet xmd65 "todo list"
	65. [ ] TODO: 
snippet xmd66 "todo list"
	66. [ ] TODO: 
snippet xmd67 "todo list"
	67. [ ] TODO: 
snippet xmd68 "todo list"
	68. [ ] TODO: 
snippet xmd69 "todo list"
	69. [ ] TODO: 
snippet xmd70 "todo list"
	70. [ ] TODO: 
snippet xmd71 "todo list"
	71. [ ] TODO: 
snippet xmd72 "todo list"
	72. [ ] TODO: 
snippet xmd73 "todo list"
	73. [ ] TODO: 
snippet xmd74 "todo list"
	74. [ ] TODO: 
snippet xmd75 "todo list"
	75. [ ] TODO: 
snippet xmd76 "todo list"
	76. [ ] TODO: 
snippet xmd77 "todo list"
	77. [ ] TODO: 
snippet xmd78 "todo list"
	78. [ ] TODO: 
snippet xmd79 "todo list"
	79. [ ] TODO: 
snippet xmd80 "todo list"
	80. [ ] TODO: 
snippet xmd81 "todo list"
	81. [ ] TODO: 
snippet xmd82 "todo list"
	82. [ ] TODO: 
snippet xmd83 "todo list"
	83. [ ] TODO: 
snippet xmd84 "todo list"
	84. [ ] TODO: 
snippet xmd85 "todo list"
	85. [ ] TODO: 
snippet xmd86 "todo list"
	86. [ ] TODO: 
snippet xmd87 "todo list"
	87. [ ] TODO: 
snippet xmd88 "todo list"
	88. [ ] TODO: 
snippet xmd89 "todo list"
	89. [ ] TODO: 
snippet xmd90 "todo list"
	90. [ ] TODO: 
snippet xmd91 "todo list"
	91. [ ] TODO: 
snippet xmd92 "todo list"
	92. [ ] TODO: 
snippet xmd93 "todo list"
	93. [ ] TODO: 
snippet xmd94 "todo list"
	94. [ ] TODO: 
snippet xmd95 "todo list"
	95. [ ] TODO: 
snippet xmd96 "todo list"
	96. [ ] TODO: 
snippet xmd97 "todo list"
	97. [ ] TODO: 
snippet xmd98 "todo list"
	98. [ ] TODO: 
snippet xmd99 "todo list"
	99. [ ] TODO: 
snippet xmd100 "todo list"
	100. [ ] TODO: 
snippet xmn1 "note list"
	1. [ ] NOTE: 
snippet xmn2 "note list"
	2. [ ] NOTE: 
snippet xmn3 "note list"
	3. [ ] NOTE: 
snippet xmn4 "note list"
	4. [ ] NOTE: 
snippet xmn5 "note list"
	5. [ ] NOTE: 
snippet xmn6 "note list"
	6. [ ] NOTE: 
snippet xmn7 "note list"
	7. [ ] NOTE: 
snippet xmn8 "note list"
	8. [ ] NOTE: 
snippet xmn9 "note list"
	9. [ ] NOTE: 
snippet xmn10 "note list"
	10. [ ] NOTE: 
snippet xmn11 "note list"
	11. [ ] NOTE: 
snippet xmn12 "note list"
	12. [ ] NOTE: 
snippet xmn13 "note list"
	13. [ ] NOTE: 
snippet xmn14 "note list"
	14. [ ] NOTE: 
snippet xmn15 "note list"
	15. [ ] NOTE: 
snippet xmn16 "note list"
	16. [ ] NOTE: 
snippet xmn17 "note list"
	17. [ ] NOTE: 
snippet xmn18 "note list"
	18. [ ] NOTE: 
snippet xmn19 "note list"
	19. [ ] NOTE: 
snippet xmn20 "note list"
	20. [ ] NOTE: 
snippet xmn21 "note list"
	21. [ ] NOTE: 
snippet xmn22 "note list"
	22. [ ] NOTE: 
snippet xmn23 "note list"
	23. [ ] NOTE: 
snippet xmn24 "note list"
	24. [ ] NOTE: 
snippet xmn25 "note list"
	25. [ ] NOTE: 
snippet xmn26 "note list"
	26. [ ] NOTE: 
snippet xmn27 "note list"
	27. [ ] NOTE: 
snippet xmn28 "note list"
	28. [ ] NOTE: 
snippet xmn29 "note list"
	29. [ ] NOTE: 
snippet xmn30 "note list"
	30. [ ] NOTE: 
snippet xmn31 "note list"
	31. [ ] NOTE: 
snippet xmn32 "note list"
	32. [ ] NOTE: 
snippet xmn33 "note list"
	33. [ ] NOTE: 
snippet xmn34 "note list"
	34. [ ] NOTE: 
snippet xmn35 "note list"
	35. [ ] NOTE: 
snippet xmn36 "note list"
	36. [ ] NOTE: 
snippet xmn37 "note list"
	37. [ ] NOTE: 
snippet xmn38 "note list"
	38. [ ] NOTE: 
snippet xmn39 "note list"
	39. [ ] NOTE: 
snippet xmn40 "note list"
	40. [ ] NOTE: 
snippet xmn41 "note list"
	41. [ ] NOTE: 
snippet xmn42 "note list"
	42. [ ] NOTE: 
snippet xmn43 "note list"
	43. [ ] NOTE: 
snippet xmn44 "note list"
	44. [ ] NOTE: 
snippet xmn45 "note list"
	45. [ ] NOTE: 
snippet xmn46 "note list"
	46. [ ] NOTE: 
snippet xmn47 "note list"
	47. [ ] NOTE: 
snippet xmn48 "note list"
	48. [ ] NOTE: 
snippet xmn49 "note list"
	49. [ ] NOTE: 
snippet xmn50 "note list"
	50. [ ] NOTE: 
snippet xmn51 "note list"
	51. [ ] NOTE: 
snippet xmn52 "note list"
	52. [ ] NOTE: 
snippet xmn53 "note list"
	53. [ ] NOTE: 
snippet xmn54 "note list"
	54. [ ] NOTE: 
snippet xmn55 "note list"
	55. [ ] NOTE: 
snippet xmn56 "note list"
	56. [ ] NOTE: 
snippet xmn57 "note list"
	57. [ ] NOTE: 
snippet xmn58 "note list"
	58. [ ] NOTE: 
snippet xmn59 "note list"
	59. [ ] NOTE: 
snippet xmn60 "note list"
	60. [ ] NOTE: 
snippet xmn61 "note list"
	61. [ ] NOTE: 
snippet xmn62 "note list"
	62. [ ] NOTE: 
snippet xmn63 "note list"
	63. [ ] NOTE: 
snippet xmn64 "note list"
	64. [ ] NOTE: 
snippet xmn65 "note list"
	65. [ ] NOTE: 
snippet xmn66 "note list"
	66. [ ] NOTE: 
snippet xmn67 "note list"
	67. [ ] NOTE: 
snippet xmn68 "note list"
	68. [ ] NOTE: 
snippet xmn69 "note list"
	69. [ ] NOTE: 
snippet xmn70 "note list"
	70. [ ] NOTE: 
snippet xmn71 "note list"
	71. [ ] NOTE: 
snippet xmn72 "note list"
	72. [ ] NOTE: 
snippet xmn73 "note list"
	73. [ ] NOTE: 
snippet xmn74 "note list"
	74. [ ] NOTE: 
snippet xmn75 "note list"
	75. [ ] NOTE: 
snippet xmn76 "note list"
	76. [ ] NOTE: 
snippet xmn77 "note list"
	77. [ ] NOTE: 
snippet xmn78 "note list"
	78. [ ] NOTE: 
snippet xmn79 "note list"
	79. [ ] NOTE: 
snippet xmn80 "note list"
	80. [ ] NOTE: 
snippet xmn81 "note list"
	81. [ ] NOTE: 
snippet xmn82 "note list"
	82. [ ] NOTE: 
snippet xmn83 "note list"
	83. [ ] NOTE: 
snippet xmn84 "note list"
	84. [ ] NOTE: 
snippet xmn85 "note list"
	85. [ ] NOTE: 
snippet xmn86 "note list"
	86. [ ] NOTE: 
snippet xmn87 "note list"
	87. [ ] NOTE: 
snippet xmn88 "note list"
	88. [ ] NOTE: 
snippet xmn89 "note list"
	89. [ ] NOTE: 
snippet xmn90 "note list"
	90. [ ] NOTE: 
snippet xmn91 "note list"
	91. [ ] NOTE: 
snippet xmn92 "note list"
	92. [ ] NOTE: 
snippet xmn93 "note list"
	93. [ ] NOTE: 
snippet xmn94 "note list"
	94. [ ] NOTE: 
snippet xmn95 "note list"
	95. [ ] NOTE: 
snippet xmn96 "note list"
	96. [ ] NOTE: 
snippet xmn97 "note list"
	97. [ ] NOTE: 
snippet xmn98 "note list"
	98. [ ] NOTE: 
snippet xmn99 "note list"
	99. [ ] NOTE: 
snippet xmn100 "note list"
	100. [ ] NOTE: 
snippet xmf1 "fix list"
	1. [ ] FIX: 
snippet xmf2 "fix list"
	2. [ ] FIX: 
snippet xmf3 "fix list"
	3. [ ] FIX: 
snippet xmf4 "fix list"
	4. [ ] FIX: 
snippet xmf5 "fix list"
	5. [ ] FIX: 
snippet xmf6 "fix list"
	6. [ ] FIX: 
snippet xmf7 "fix list"
	7. [ ] FIX: 
snippet xmf8 "fix list"
	8. [ ] FIX: 
snippet xmf9 "fix list"
	9. [ ] FIX: 
snippet xmf10 "fix list"
	10. [ ] FIX: 
snippet xmf11 "fix list"
	11. [ ] FIX: 
snippet xmf12 "fix list"
	12. [ ] FIX: 
snippet xmf13 "fix list"
	13. [ ] FIX: 
snippet xmf14 "fix list"
	14. [ ] FIX: 
snippet xmf15 "fix list"
	15. [ ] FIX: 
snippet xmf16 "fix list"
	16. [ ] FIX: 
snippet xmf17 "fix list"
	17. [ ] FIX: 
snippet xmf18 "fix list"
	18. [ ] FIX: 
snippet xmf19 "fix list"
	19. [ ] FIX: 
snippet xmf20 "fix list"
	20. [ ] FIX: 
snippet xmf21 "fix list"
	21. [ ] FIX: 
snippet xmf22 "fix list"
	22. [ ] FIX: 
snippet xmf23 "fix list"
	23. [ ] FIX: 
snippet xmf24 "fix list"
	24. [ ] FIX: 
snippet xmf25 "fix list"
	25. [ ] FIX: 
snippet xmf26 "fix list"
	26. [ ] FIX: 
snippet xmf27 "fix list"
	27. [ ] FIX: 
snippet xmf28 "fix list"
	28. [ ] FIX: 
snippet xmf29 "fix list"
	29. [ ] FIX: 
snippet xmf30 "fix list"
	30. [ ] FIX: 
snippet xmf31 "fix list"
	31. [ ] FIX: 
snippet xmf32 "fix list"
	32. [ ] FIX: 
snippet xmf33 "fix list"
	33. [ ] FIX: 
snippet xmf34 "fix list"
	34. [ ] FIX: 
snippet xmf35 "fix list"
	35. [ ] FIX: 
snippet xmf36 "fix list"
	36. [ ] FIX: 
snippet xmf37 "fix list"
	37. [ ] FIX: 
snippet xmf38 "fix list"
	38. [ ] FIX: 
snippet xmf39 "fix list"
	39. [ ] FIX: 
snippet xmf40 "fix list"
	40. [ ] FIX: 
snippet xmf41 "fix list"
	41. [ ] FIX: 
snippet xmf42 "fix list"
	42. [ ] FIX: 
snippet xmf43 "fix list"
	43. [ ] FIX: 
snippet xmf44 "fix list"
	44. [ ] FIX: 
snippet xmf45 "fix list"
	45. [ ] FIX: 
snippet xmf46 "fix list"
	46. [ ] FIX: 
snippet xmf47 "fix list"
	47. [ ] FIX: 
snippet xmf48 "fix list"
	48. [ ] FIX: 
snippet xmf49 "fix list"
	49. [ ] FIX: 
snippet xmf50 "fix list"
	50. [ ] FIX: 
snippet xmf51 "fix list"
	51. [ ] FIX: 
snippet xmf52 "fix list"
	52. [ ] FIX: 
snippet xmf53 "fix list"
	53. [ ] FIX: 
snippet xmf54 "fix list"
	54. [ ] FIX: 
snippet xmf55 "fix list"
	55. [ ] FIX: 
snippet xmf56 "fix list"
	56. [ ] FIX: 
snippet xmf57 "fix list"
	57. [ ] FIX: 
snippet xmf58 "fix list"
	58. [ ] FIX: 
snippet xmf59 "fix list"
	59. [ ] FIX: 
snippet xmf60 "fix list"
	60. [ ] FIX: 
snippet xmf61 "fix list"
	61. [ ] FIX: 
snippet xmf62 "fix list"
	62. [ ] FIX: 
snippet xmf63 "fix list"
	63. [ ] FIX: 
snippet xmf64 "fix list"
	64. [ ] FIX: 
snippet xmf65 "fix list"
	65. [ ] FIX: 
snippet xmf66 "fix list"
	66. [ ] FIX: 
snippet xmf67 "fix list"
	67. [ ] FIX: 
snippet xmf68 "fix list"
	68. [ ] FIX: 
snippet xmf69 "fix list"
	69. [ ] FIX: 
snippet xmf70 "fix list"
	70. [ ] FIX: 
snippet xmf71 "fix list"
	71. [ ] FIX: 
snippet xmf72 "fix list"
	72. [ ] FIX: 
snippet xmf73 "fix list"
	73. [ ] FIX: 
snippet xmf74 "fix list"
	74. [ ] FIX: 
snippet xmf75 "fix list"
	75. [ ] FIX: 
snippet xmf76 "fix list"
	76. [ ] FIX: 
snippet xmf77 "fix list"
	77. [ ] FIX: 
snippet xmf78 "fix list"
	78. [ ] FIX: 
snippet xmf79 "fix list"
	79. [ ] FIX: 
snippet xmf80 "fix list"
	80. [ ] FIX: 
snippet xmf81 "fix list"
	81. [ ] FIX: 
snippet xmf82 "fix list"
	82. [ ] FIX: 
snippet xmf83 "fix list"
	83. [ ] FIX: 
snippet xmf84 "fix list"
	84. [ ] FIX: 
snippet xmf85 "fix list"
	85. [ ] FIX: 
snippet xmf86 "fix list"
	86. [ ] FIX: 
snippet xmf87 "fix list"
	87. [ ] FIX: 
snippet xmf88 "fix list"
	88. [ ] FIX: 
snippet xmf89 "fix list"
	89. [ ] FIX: 
snippet xmf90 "fix list"
	90. [ ] FIX: 
snippet xmf91 "fix list"
	91. [ ] FIX: 
snippet xmf92 "fix list"
	92. [ ] FIX: 
snippet xmf93 "fix list"
	93. [ ] FIX: 
snippet xmf94 "fix list"
	94. [ ] FIX: 
snippet xmf95 "fix list"
	95. [ ] FIX: 
snippet xmf96 "fix list"
	96. [ ] FIX: 
snippet xmf97 "fix list"
	97. [ ] FIX: 
snippet xmf98 "fix list"
	98. [ ] FIX: 
snippet xmf99 "fix list"
	99. [ ] FIX: 
snippet xmf100 "fix list"
	100. [ ] FIX: 
